[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[requires]
python_version = "3.6"

[packages]
tensorflow-gpu = "==1.10.0"
keras = "*"
scikit-learn = "*"
scikit-image = "*"
Pillow = "*"
matplotlib = "*"
pytest = "*"
